<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Full suite" parallel="classes" thread-count="2">
    <test name="Feature runner">
        <classes>
            <class name="tests.suites.full.InstagramLikerTest"/>
        </classes>
    </test>
</suite>